#Rahat{
  margin: 0;
  padding-top: 100px;
}

#mePic{
  padding-top: 20px;
  padding-bottom: 20px;

}

#topPara{
  padding-top: 50px;
}

.card{
  display: inline-flex;
  margin-right: 50px;
  margin-bottom: 20px;
}

.card-img-top{
  width: 286px;
  height: 180px;
}

#portfolioContainer{
  margin-left: 10%;
}

#submit{
  margin-left: 15px;
}

#contact{
  padding-bottom: 75px;
}

footer{
  padding-top: 15px;
}
